[Desktop Entry]
Type=Application
Name=Potos autostart script for {{ item.script }}
Comment=Potos autostart script for {{ item.script }}
Exec=/usr/local/bin/{{ item.script }}_wrapper.sh
X-GNOME-AutoRestart=false
X-GNOME-Autostart-enabled=true
