---
  # Loop over all script names, make an autostart desktopfile for each
  - name: Copy over the desktop file to the new dir
    ansible.builtin.template:
      src: "etc/xdg/autostart/desktopfile.j2"
      dest: "/etc/xdg/autostart/{{ item.script }}_wrapper.sh.desktop"
      force: true
      mode: '0777'
    loop: "{{ potos_xdg_autostart }}"

  # Copy over script file to global autostart dir
  - name: Copy over the script file to the new dir
    ansible.builtin.template:
      src: "potos_xdgautostart/usr/local/bin/{{ item.script }}"
      dest: "/usr/local/bin/{{ item.script }}"
      force: true
      mode: '0777'
    loop: "{{ potos_xdg_autostart }}"
    failed_when: false

  # Check to make sure target script file is on the remote host,
  # either because it was copied over or it was already there
  - name: Make sure target script file is present
    ansible.builtin.stat:
      path: "/usr/local/bin/{{ item.script }}"
    register: file_stat
    failed_when: not file_stat.stat.exists
    loop: "{{ potos_xdg_autostart }}"

  # Create the script wrapper file to global autostart dir
  - name: Copy over the script file wrapper to the new dir
    ansible.builtin.lineinfile:
      path: "/usr/local/bin/{{ item.script }}_wrapper.sh"
      line: "/usr/local/bin/{{ item.script }}"
      regexp: "^/usr/local/bin/{{ item.script }}$"
      state: present
      backup: false
      create: true
      mode: '0777'
    loop: "{{ potos_xdg_autostart }}"

  # Append disable script to each copied over script
  - name: Add disable script to wrapper
    ansible.builtin.blockinfile:
      path: "/usr/local/bin/{{ item.script }}_wrapper.sh"
      block: "{{ lookup('file', 'files/disable_script.sh') }}"
      state: present
    loop: "{{ potos_xdg_autostart }}"
    when: item.runonlyonce
